@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #181719;
}
header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5em;
  align-items: center;
}
header .normal-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.burger-nav {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #181719;
  display: none;
}
.burger-nav > button {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 3em;
  margin: .5em 1em;
  background: transparent;
  border: none;
  &:hover{
    cursor: pointer;
  }
}

.burger-nav ul {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  align-items: center;
  list-style: none;
  font-size: 1.2em;
}
#bars {
  display: none;
}
header h3 {
  text-align: center;
  width: 9.375em;
  padding: 0.625em;
  color: #ffffff;
  font-family: "Crimson Pro";
  font-size: 1em;
  border: 1px solid #ffffff;
  &::selection {
    background-color: transparent;
  }
}
header nav ul {
  width: 40%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav-link {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  padding: 0.46875em 0;
  font-weight: 400;
  &:hover {
    border-bottom: #fff solid 2px;
  }
}
.selected {
  font-weight: 700;
  border-bottom: 2.5px solid #fff;
  &:hover {
    border-bottom: 2.5px solid #fff;
  }
}
main {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}
.info {
  width: 100%;
  padding: 0 2.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.left {
  width: 40%;
  height: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  row-gap: 2.18em;
}
.left h1 {
  font-family: "Lora", sans-serif;
  font-size: 3em;
  font-weight: 500;
  line-height: 61.44px;
  text-align: left;
  color: #ffffff;
  width: 100%;
}
.left p {
  width: 410px;
  height: 145px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.26px;
  text-align: left;
  color: #ffffff;
}
.left button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 1.375em;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 21.94px;
  text-align: left;
  column-gap: 1em;
  color: #fff;
  border: none;
}
.right {
  max-width: 863px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}
.right > img {
  z-index: 10;

  max-width: 100%;
  align-self: center;
}
.design-div {
  position: relative;
  bottom: 5em;
  left: 26.25em;
  width: 25.265em;
  height: 11.8135em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #181719;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 2em;
  z-index: 200;
}
.design-div .profile {
  display: flex;
  flex-direction: row;

  height: 40%;
  align-items: center;
  margin-bottom: 1.1em;
}
.profile > img {
  width: 3.125em;
  height: 3.125em;
  border-radius: 50%;
  margin-right: 20px;
}
.profile span {
  color: #828282;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.63px;
  text-align: left;
}
.profile h4 {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  text-align: left;
}
.design-div h3 {
  height: 60%;
  font-family: "Lora", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30.72px;
  text-align: left;
  align-self: center;
  color: #ffffff;
}
footer {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  text-align: center;
  color: #a9a9a9;
  padding: 1em;
}
footer a {
  color: #a9a9a9;
}
@media (max-width: 1353px) {
  .info {
    flex-direction: column;
    width: 100%;
  }
  .left {
    align-self: flex-start;
  }
}
@media (max-width: 950px) {
  .left {
    width: 100%;
  }
  .design-div {
    position: relative;
    bottom: 5em;
    left: 51.5%;
    transform: translate(-50%);
  }
  header nav ul {
    display: none;
  }
  #bars {
    display: block;
    font-size: 3em;
    color: #fff;
  }
  .info h1 {
    width: 500px;
  }
  .design-div {
    width: 86.67%;
  }
}
@media (max-width: 630px) {
  .left {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 430px) {
  .left {
    width: 100%;
  }
  .left > h1 {
    font-size: 2.5em;
  }
  .left > p {
    font-size: 1em;
    width: 70vw;
  }
  .design-div {
    height: fit-content;
    bottom: 2em;
  }
  .design-div h3 {
    font-size: 1em;
  }
  .design-div h4 {
    font-size: 0.7em;
  }
  .design-div span {
    font-size: 0.65em;
  }
  #bars {
    font-size: 2em;
  }
}
